body {
    text-align: center;
    font-family: sans-serif;
}

button {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    padding: 0.5em 0.5em;
    font-weight: bold;
}

button:hover {
    background-color: var(--paper-green-400);
}

button {
    background-color: var(--paper-green-500);
}

button[active] {
    background-color: var(--paper-red-500);
}

button.disabled {
    background-color:#969696;
}

/* Dropdown Button Layout */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #e5e5e5;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* links inside the dropdown */
.dropdown_content a {
    color: black;
    padding: 0.5em 0.6em;
    text-decoration: none;
    display: block;
}

/* change color of dropdown links on hover */
.dropdown_content a:hover {
    background-color: #a0a0a0;
    color: white;
}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown_content {
    display: block;
}

/* change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #8e79b9;
}

.dropdown:hover #shapeTypeBtn {
    color: white;
}

#title {
    width: 40%;
}

input {
    text-align: center;
    font-size: 20px;
}

#shapeBtns, #fileBtns {
    margin: 0.5em;
}

#fileBtns button:enabled {
    background-color: #8c6693;
    color: white;
}

#statusBar, #coordinateInfo {
    z-index: 2;
    position: absolute;
}

#statusBar {
    margin-right: 10px;
    font-size: 14px;
}

#coordinateInfo {
    background-color: #e5e5e5;
    border-radius: 10px;
    margin-top: 10px;
    text-align: left;
}

#coordinateInfo p {
    margin: 8px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #9173e5;
    }

    #mobileView {
        display: block !important;
        text-align: center;
        margin-top: 2em;
    }

    #mobileView h2 {
        color: white;
    }

    #tools, #content {
        display: none;
    }
}