<launch>
    <param name="robot_description" command="$(find xacro)/xacro  '$(find astro_description)/robots/astro.xacro'" />


    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <arg name="gui" default="True" />
    <param name="use_gui" value="$(arg gui)" />
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find astro_description)/config/view_astro_model.rviz"/>
</launch>